html, body {
  background-color: white;
  color: black;
  margin: 0;
  padding: 0;
  height: 100%;
  font-size: 1.2rem;
  font-family:Arial, Helvetica, sans-serif
}

main {
width: 100vw;
overflow: hidden;
}

.container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 15vh 80vh 5vh;
  grid-template-areas: 
  "header header header header header"
  "sidebar sidebar main main main"
  "footer footer footer footer footer";

}
.item-a {
  grid-area: header;
  text-align: right;
  font-style: oblique;
  padding: 20px;
  border-bottom: 1px solid black;
  font-size: 16px;
  text-transform: uppercase;
}
.title{
  text-align: left;
  font-style: normal;
  text-transform: uppercase;
  letter-spacing: 5px;
}
.item-b {
  grid-area: sidebar;
  text-align: justify;
  padding: 25px;
  font-size: 16px;
  border-right: 1px solid black;
  overflow-y: scroll;
}

/* Hide scrollbar for Chrome, Safari and Opera */
.item-b::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.item-b {
-ms-overflow-style: none;  /* IE and Edge */
scrollbar-width: none;  /* Firefox */
}
.ellie-L {
  font-style: oblique;
  font-size: 22px;
  font-family: 'Times New Roman', Times, serif;
  text-align:left;
  margin: 50px;
}

.ellie-R {
  font-style: oblique;
  font-size: 22px;
  font-family: 'Times New Roman', Times, serif;
  text-align:right;
  margin: 50px;
}
#ellie {
  font-style: oblique;
}
.item-c {
  grid-area: main;
  margin-top: 25px;
}
.item-d {
  grid-area: footer;
  padding-left: 75vh;
  display:inline-flex;
  position: relative;
  border-top: 1px solid black;
}

audio {
  padding: 15px;
}

.grid-container {  
 width: 100%;
 display: grid;
 gap: 2rem;
 grid-template-columns: repeat(3, 1fr);
 flex-shrink: 0;
 padding-bottom: 50px;
}
.item-c {
  overflow-y: scroll;
  padding: 25px;
}

/* Hide scrollbar for Chrome, Safari and Opera */
.item-c::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.item-c {
-ms-overflow-style: none;  /* IE and Edge */
scrollbar-width: none;  /* Firefox */
}

.grid-item {
  grid-column: span 1;
  height: 160px;
  position:relative;
}

.grid-item img{
  padding: 15px;
  width: 100%;
  object-fit: cover;
  position: relative;
  transform: scale(1);
  transition: transform .8s ease;
  opacity: 0.7;
}

.grid-item:hover img{
 transform: scale(1.2);
 opacity: 1;
}

a{
  text-decoration: none;
  color: black;
  font-style: normal;
}

a:hover{
  text-decoration: underline 1px solid black;
  font-style: italic;
}

.info {
  font-size: 16px;
  padding: 10px;
}